# Python files
__pycache__/
*.pyc

# Environment files
.env
config.py

# Data directories
data-extraction/raw_data/
data-processing/intermediate_data/
data-visualization/output/

# System files
.DS_Store

# Processed Data
data-processing/intermediate_data/
data-processing/output/
